#!/bin/bash
alias start='startx && exit'

alias ll='ls -la'
export hekla=amp17@hekla.rhi.hi.is

alias ..='cd ..'

alias z='zathura --fork'

alias gpl='git pull origin master'
alias gac='git add . && git commit'
alias gps='git push origin master'

alias open='xdg-open'
alias copy="xclip -selection clipboard"
