#!/bin/bash
alias ll='ls -la'
alias ..='cd ..'

alias z='zathura --fork'

alias gpl='git pull origin master'
alias gac='git add . && git commit'
alias gps='git push origin master'

alias open='xdg-open'
alias cpy="xclip -selection clipboard"
alias pst="xclip -o -selection clipboard"
eval $(thefuck --alias)

alias trr='transmission-remote'
alias trc='transmission-remote-cli'

alias python='python3'
alias lsblk='lsblk -o NAME,SIZE,FSTYPE,MOUNTPOINT'
black=$(tput setaf 0)
red=$(tput setaf 1)
green=$(tput setaf 2)
yellow=$(tput setaf 3)
blue=$(tput setaf 4)
magenta=$(tput setaf 5)
cyan=$(tput setaf 6)
white=$(tput setaf 7)
reset=$(tput sgr0)
bold=$(tput bold)

export PS1="\[$bold$yellow\]\u\[$reset$bold$cyan\]@\[$reset$bold$green\]\h\[$reset\]:\[$reset$bold$cyan\]\w\[$reset\]$ "
alias ralan='ssh -p 8909 amp@ralan'
alias trr='transmission-remote'
alias trc='tremc'

alias malan="sudo mount alan:/home/amp/ $HOME/alan/ && sudo mount alan:/home/amp/MEDIA/ $HOME/alan/MEDIA/"
alias ualan="sudo umount $HOME/alan/MEDIA/ && sudo umount $HOME/alan/"
